input {
  width: 200px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  height: 36px;
  font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin-top: 10px;
  margin-bottom: 10px;
}

input:hover {
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
}
